<% layout("layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-2">

            <br><br>


            <h3>CREATE A NEW LISTING</h3>
            <form method="POST" action="/listings" >

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Add a title here.." class="form-control"
                        required>
                </div>


                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required></textarea>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="text" name="listing[image]" placeholder="enter image link , URl" class="form-control"
                        >

                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Enter Price</label>
                        <input type="number" name="listing[price]" placeholder="1200" class="form-control" required >
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="Country" class="form-label">Enter Country</label>
                        <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Maharashtra , Mummbai" class="form-control"
                        required>
                </div>


                <button class="btn btn-dark add-btn mt-4">Add</button>
                <br><br><br>

            </form>




        </div>
    </div>